@use '../../ControlPanels/AppearanceManager/styles/appearance';
@use 'sass:list';

/* Hide for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
.classicySpinner::-webkit-outer-spin-button,
.classicySpinner::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important
}

/* Hide for Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
  appearance: textfield !important; /* Standard property */
}

.classicySpinner {
  font-family: var(--ui-font), sans-serif;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: var(--color-white);

  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

.classicySpinnerDefault {
}

.classicySpinnerHolder {
  align-self: center;
}

.classicySpinnerInputGroup {
  display: inline-flex;
  flex-direction: row;
  border: var(--window-border-size) solid black;
  box-shadow:
    calc(var(--window-border-size) * -1) calc(var(--window-border-size) * -1) 0 0 var(--color-system-05),
    calc(var(--window-border-size) * 1) calc(var(--window-border-size) * 1) 0 0 var(--color-system-04);

  &:focus-within {
    box-shadow: 0 0 0 calc(var(--window-border-size) * 2) var(--color-theme-04);
    outline: var(--color-theme-04) var(--window-border-size) solid;

    .classicySpinnerButtons {
      background-color: var(--color-theme-02);
      outline: var(--color-theme-04) var(--window-border-size) solid;
      .classicySpinnerButton {
        background-color: var(--theme-color-02);
      }
    }
  }
}

.classicySpinnerButtons {
  display: flex;
  flex-direction: column;
  border-left: var(--window-border-size) solid var(--color-system-04);
  width: calc(var(--window-control-size) * 0.75);
  background-color: var(--color-system-02);

  .classicySpinnerButton {
    flex: 1;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-bottom: var(--window-border-size) solid var(--color-system-04);
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
