.classicyTextEditor {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--window-border-size)*4);
  resize: none;
  padding: var(--window-padding-size);
  border: none;
  overflow-y: auto;
  &:focus-visible {
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }
}