@use '../../ControlPanels/AppearanceManager/styles/appearance';

.classicyDisclosure {
  padding: 0;
}

.classicyDisclosureHeader {
  display: flex;
  flex-direction: row;
  padding: calc(var(--window-padding-size));
}

.classicyDisclosureInner {
  padding: calc(var(--window-padding-size));
}

.classicyDisclosureInnerOpen {
  display: block;
  height: 100%;
}

.classicyDisclosureInnerClose {
  display: none;
  height: 0;
  opacity: 0;
}
