.aboutWindow {
  font-family: var(--header-font) serif;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
}
